
  @import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
  

body{
    height: 100vh;
	width: 100vw;
    font-family: 'Young Serif', serif;
	background: radial-gradient(at 18% 99%, rgb(223, 229, 113) 0px, transparent 50%) repeat scroll 0% 0%, 
                radial-gradient(at 97% 8%, rgb(118, 249, 173) 0px, transparent 50%) repeat scroll 0% 0%, 
                radial-gradient(at 79% 82%, rgb(233, 109, 131) 0px, transparent 50%) repeat scroll 0% 0%,
                radial-gradient(at 96% 10%, rgb(222, 81, 251) 0px, transparent 50%) repeat scroll 0% 0%,    
                radial-gradient(at 42% 20%, rgb(116, 240, 251) 0px, transparent 50%) repeat scroll 0% 0%,
                radial-gradient(at 4% 49%, rgb(203, 88, 218) 0px, transparent 50%) repeat scroll 0% 0%, rgba(0, 0, 0, 0) radial-gradient(at 57% 33%, rgb(218, 83, 228) 0px, #a299ff 50%) repeat scroll 0% 0%;
}
.header{
    font: bolder;
    font-family: 'Young Serif', serif;
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%;
    }
}

h1{

    background-color:none !important;
    filter: saturate(110%);
    top: 1%;
}
  .animate{
    animation-duration: 1s;
    text-transform: uppercase;
    background-size: auto auto;
  
    background-size: 200% auto;
    color: #fff;
    
   
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 190px;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  @media screen and (max-width: 800px) {
   .animate{
      font-size: 100px;
    }
  }